* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    background-image: url(img_bar/bar3.jpg);
    background-color: #0f0e0d;
        background-position: center bottom;
        background-repeat: no-repeat; 
        background-size: cover;
        min-height: 70vh;
        display: flex;
        align-items: center;
        color: #0f0e0d;
}

.menu {
    color: white;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #FFFDFC;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #0f0e0d;
    display: table-column;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #CE9678;
}

.menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #eff3f3;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: #C5C5C5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #CE967B;
    color: #F9FAFC;
    text-transform: uppercase;
}

.btn-1:hover {
    background-color: #EBAD8D;
}

.bebida {
    padding: 100px 0;
    background-color: #E1E2E6;
    position: relative;
}
.comida-content{
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: white;
    background-color: #0f0e0d;
}

.comida-1{
    margin: 0 70px 0 0;
}
.comida-2{
    margin: 0 70px 0 10px;
}
.bebida-content {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: white;
    background-color: #0f0e0d;
}
.comida-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}
.bebida-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.bebida-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
   
}

.bebida-1 {
    margin: 0  20px 0 0;
    padding: 0 25px;
}

.bebida-1 img {
    width: 250px;
    height: 200px;
}

.bebida-1 img {
    position: relative;
    margin: 0 0 20px 0;
    top: 0;
    right: 0;
}
.bebida-2{
    margin: 0 70px 0 70px;
}

.bebida-1 h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}
.bebida {
    padding: 100px 0;
    background-color: #E1E2E6;
    position: relative;
}

.bebida-content {
    text-align: center;
}
.bebida img{
    background-image: url(img_bar/Bebida.jpg);
}

.bebida-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}


.txt-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}
.txt-p2{
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.comida-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.comida-1 {

    padding: 0 25px;
}

.comida-1 img {
    width: 200px;
}
.comida-2 img{ 
    width: 300px;
    height: 200px;
 
}
.comida-3 img {
    width: 300px;
    height: 200px;
}
.bebida-3 img{
    width: 200px;
    height: 300px;
}
.bebida-2 img{
    width: 200px;
    height: 300px;
}


.comida-1 img {
    position: relative;
    top: 0;
    right: 0;
}


.comida-1 h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.footer{
    margin: 40px;
    background-color: #0f0e0d;
    color: white;
}
