@font-face {
    font-family: 'Open Sans';
    src: url(/assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(/assets/fonts/Roboto/Roboto-Regular.ttf);
}

:root {
    --fuenteTitulo: 'Open Sans', sans-serif;
    --fuenteContenido: 'Roboto', sans-serif;
    --colorLetra: white;
    --colorTituloCajas: #470e88;
    --colorCajasTexto: rgb(247, 245, 255);
    --coloFondo: #0b0810;
    --colorAcentoLetra: rgb(77, 175, 255);
    --colorSecundario: rgb(5, 5, 106);
    --colorAcento: #f0;

    --rojoClaro: #6b0a0a;
    --rojoOscuro: #440b0b;
    --moradoClaro: #551382;
    --moradoOscuro: #21073a;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: var(--coloFondo);
}


header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    background: url(/assets/img/casinoBg8r.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* navegacion y demas de aqui para abajo */

nav{
    display: flex;
    /* background-color: blueviolet; */
    height: 16%;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
}

.logo{
    display: flex;
    width: 15em;
    gap: 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo > h1 {
    color: white;
    font-family: var(--fuenteTitulo);
    font-size: 20px;
}

@media screen and (max-width: 370px){
    .logo{
     width: 4rem;
    }
    
     .logo > h1{
         display: none;
     }
   
 }

@media screen and (max-width: 310px){
   .logo{
    width: 4rem;
   }
   
    .logo > h1{
        display: none;
    }
  
}

.img_Logo{
    max-width: 3em;
    align-self: center;
    margin-left: 10%;
    filter: invert();
}

.logo:hover{
    opacity: 0.80;
    transition: 0.3s;
    transform: scale(1.1);
}
@media screen and (max-width: 310px){
    

  
}

.links{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: end;
    gap: .5rem;
}

nav .links a {
    flex: 1 1 auto;
    height: 12vh;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: var(--fuenteTitulo);
    font-weight: bold;
    flex-grow: 1;
    transition: .3s;

}  

@media screen and (max-width: 1024px){
    nav .links a{
        background-color: var(--rojoOscuro);
        height: 5rem;
        margin-right: 10px;
    }
}

@media screen and (max-width: 690px){
    /* .img_icono{
        display: none;
    } */

    span{
        display: none;
    }
}

@media screen and (max-width: 490px){
    nav .links a{
        height: 3rem;
    }
  
}


@media screen and (max-width: 412px){
    nav .links a{
        background: none;
    }
  
}

@media screen and (max-width: 412px){
    nav .links a{
        background: var(--rojoOscuro);
    }
}

@media screen and (max-width: 310px){
    nav .links a{
        background: none;
        width: 5rem;
    }
  
}

nav .links a > img {
    filter: invert();
}

nav .links a:hover > img{
    opacity: 0.8;
    transition: 0.3s;
    transform: scale(1.2);
}

nav .links a:hover > span {
    filter: brightness(0.5);
}
.img_icono{
    width: 1.5rem;
    margin-right: .3rem;
}

span{
    font-family: var(--fuenteTitulo);
    color: white;
    font-size: 17px;
}

/* Navegacion de aqui para arriba */

/* Info y demas de aqui para abajo */

.seccionHeroe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 5rem;
}

.nombreCasino{
    padding: 20px;
    color: rgb(205, 111, 255);
    margin-right: 150px;
    /* text-shadow: -.1rem .1rem 0 rgba(120, 120, 120, 0.5), .1rem -.1rem 0 rgba(120, 120, 120, 0.5); */
    font-family: var(--fuenteTitulo);
    border-radius: 16px;
}

@media screen and (max-width: 990px){
    .nombreCasino{
        background-color: var(--moradoOscuro);
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 541px){
    .nombreCasino{
        margin-right: 75px;
    }

}

@media screen and (max-width: 475px){
    .nombreCasino{
        margin-right: 30px;
    }

}

@media screen and (max-width: 431px){
    .nombreCasino{
        margin-right: 17px;
    }

}

@media screen and (max-width: 385px){
    .nombreCasino{
        margin-right: -15px;
        transform: scale(0.7);
    }

}


@media screen and (max-width: 361px){
    .nombreCasino{
        transform: scale(0.7);
        margin-right: -10px;
    }

}

@media screen and (max-width: 281px){
    .seccionHeroe{
        align-items: center;
    }
    
    .nombreCasino{
        transform: scale(0.7);
        margin-right:-75px ;
        
    }

}

.textoDescripcion{
    padding: 1.2rem;
    width: 20rem;
    margin-right: 95px;
    /* margin-right: 150px ; */
    border-radius: 8px;
}

.textoDescripcion p{
    color: white;
    font-weight: 500;
    font-size: 18px;
    font-family: var(--fuenteContenido);
    text-align: center;
}

@media screen and (max-width: 1025px){
    .textoDescripcion{
        background-color: var(--moradoOscuro);
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 541px){
    .textoDescripcion{
        margin-right: 15px;
    }

}

@media screen and (max-width: 475px){
    .textoDescripcion{
        margin-right: -20px;
    }

}

@media screen and (max-width: 430px){
    .textoDescripcion{
        margin-right: -40px;
    }

}

@media screen and (max-width: 391px){
    .textoDescripcion{
        margin-right: -50px;
    }

}

@media screen and (max-width: 361px){
    .textoDescripcion{
        margin-right: -70px;
        margin-top: 5px;
    }

}

@media screen and (max-width: 376px){
    .textoDescripcion{
        transform: scale(0.8);
        margin-right: -75px;
    }

}

@media screen and (max-width: 290px){
    
    .textoDescripcion{
        transform: scale(0.7);
        margin-right:-90 ;
        
    }

}

/* .contenedorBotonDescripcion{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-family: var(--fuenteTitulo);
}

.botonDescripcion{
    width: 200px;
    height: 50px;
    font-family: var(--fuenteTitulo);
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 2px;
    margin-right: 200px;
    color: aliceblue;
    border-radius: 16px;
    border: 4px outset gray;
}

.botonDescripcion:hover{
    opacity: 0.85;
}

.botonDescripcion:focus{
    opacity: 0.75;
} */

/* .contenedorHeaderDescripcion{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-family: var(--fuenteContenido);
} */







main{
    padding: .5rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.contenedorInformacionCasino{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2.5rem;
}

    .cajaInformacionCasino {
        padding: 2rem;
        width: 90%;
        border-radius: 8px;
        background-color: var(--colorCajasTexto);
        box-shadow: -.4rem .4rem 0px rgba(120, 120, 120, 0.5);
        font-family: var(--fuenteContenido);
    }

        .encabezadoInformacionCasino{
            font-family: var(--fuenteTitulo);
            font-size: 24px;
            font-weight: bolder;
            color: var(--colorTituloCajas);
        }

        .textoInformacionCasino{
            font-family: var(--fuenteContenido);
        }

        
.contenedorNovedades{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

    .encabezadoNovedades, .encabezadoActividades{
        margin: 2.5rem auto 1.5rem;
        text-align: center;
        font-size: 30px;
        font-family: var(--fuenteTitulo);
        color: var(--colorLetra);
    }

        .novedad {
            width: 14rem;
            height: 20rem;
            border-radius: 8px;
            box-shadow: -.2rem .2rem 10px rgba(120, 120, 120, 0.5);
            display: flex;
            flex-direction: column;
            cursor: pointer;
        }

        .novedad:hover {
            opacity: 0.8;
        }

            .imagenNovedad {
                width: 100%;
                height: auto;
                border-radius: inherit;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            .nombreNovedad {
                width: 100%;
                border-radius: inherit;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                background-color: var(--colorCajasTexto);
                flex: 1 1 auto;
                text-align: center;
                font-family: var(--fuenteTitulo);
            }

.contenedorActividades {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorSlider {
    position: relative;
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
}

    .slider {
        display: flex;
        aspect-ratio: 16 / 9;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        box-shadow: 0 1.5rem 3rem -0.75rem hsla(0%, 0%, 0%, 0.25);
        border-radius: 0.5rem;
    }

        .slider::-webkit-scrollbar{
            display: none;
        }

        .slider > img {
            flex: 1 0 100%;
            scroll-snap-align: start;
            object-fit: cover;
        }

    .sliderNav {
        display: flex;
        column-gap: 1rem;
        position: absolute;
        bottom: 1.25rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }

        .sliderNav a {
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
            background-color: #fff;
            opacity: 0.75;
            transform: opacity ease 250ms;
        }

            .sliderNav a:hover {
                opacity: 1;
            }

footer{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: var(--colorSecundario);
}

.navFooter {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 5rem;
}

    .logoFooter {
        display: flex;
        align-items: center;
        gap: 1rem;
        overflow: hidden;
        width: 11rem;
        height: 100%;
    }
    
    .logoFooter > img {
        max-width: 4rem;
        flex: 1 1 auto;
        filter: invert();
        cursor: pointer;
    }
    
    .logoFooter > span {
        flex: 1 1 auto;
        font-family: var(--fuenteTitulo);
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: none;
        color: var(--colorLetra);
    }

    .redes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: .2rem;
        width: 10rem;
    }
    .redes i{
        overflow: hidden;
        margin: .5rem;
        font-size: 2.5rem;
        cursor: pointer;
    }

        .redes .fa-square-twitter {
            color: rgb(65, 125, 255);
        }
        
        .redes .fa-square-facebook {
            color: rgb(0, 60, 188);
        }

        .redes .fa-square-instagram {
            color: rgb(202, 0, 84);
        }

        
        .redes i:hover, .logoFooter > img:hover{
            transform: scale(1.05);
            transition: all 0.2s ease;
            /* filter: brightness(1.1); */
         }
            
         .footerBreak {
             border: 2px solid rgba(0, 0, 0, 0.25);
                border-radius: 2px;
        margin: 1.5rem 0;
    }


    
    .encabezadoContactos {
        font-size: 18px;
        color: var(--colorAcentoLetra);
    }

    .informacionContacto {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        gap: .9rem;
        font-family: var(--fuenteContenido);
        margin-bottom: 2rem;
        color: var(--colorLetra);
    }


    .enlacesFooter {
        position: relative;
        left: 50%;
        translate: -50%;
        width: 60%;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
    }

    .enlacesFooter a {
        text-decoration: none;
        color: var(--colorAcentoLetra);
        font-weight: bold;
        font-family: var(--fuenteContenido);
    }

        .enlacesFooter a:hover {
            color: #669;
        }
    
    .copyright {
        font-family: var(--fuenteContenido);
        color: var(--colorLetra);
    }
