:root {
    --fuenteTitulo: 'Open Sans', sans-serif;
    --fuenteContenido: 'Roboto', sans-serif;
    --colorLetra: white;
    --colorAcentoLetra: #f0;
    --coloFondo: #f0;
    --colorSecundario: #f0;
    --colorAcento: #f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: var(--colorLetra);
}


header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    background: url(/assets/img/casinoBg8r.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* navegacion y demas de aqui para abajo */

nav{
    display: flex;
    /* background-color: blueviolet; */
    height: 16%;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
}

.logo{
    display: flex;
    width: 15em;
    gap: 1rem;
}

.logo > h1 {
    color: white;
    font-family: var(--fuenteTitulo);
    font-size: 20px;
}

.img_Logo{
    max-width: 3em;
    align-self: center;
    margin-left: 10%;
    filter: invert();
}

.img_Logo:hover{
    opacity: 0.80;
}

.links{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: end;
    gap: .5rem;
}

nav .links a {
    flex: 1 1 auto;
    height: 12vh;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: var(--fuenteTitulo);
    font-weight: bold;
    flex-grow: 1;
    transition: .3s;

}   

nav .links a > img {
    filter: invert();
}

nav .links a:hover{
    opacity: 0.8;
    filter: brightness(10.5);
    transition: 1s;
    flex-grow: 4;
    flex-shrink: 3;
    /* transform: scale(1.2); */
}

.img_icono{
    width: 25px;
    margin-right: 5px;
}

span{
    font-family: var(--fuenteTitulo);
    color: white;
    font-size: 17px;
}

/* Navegacion de aqui para arriba */

/* Info y demas de aqui para abajo */

.nombreCasino{
    margin-right: 150px;
    margin-top: 10px;
    padding: 20px;
    color: rgb(205, 111, 255);
    /* text-shadow: -.1rem .1rem 0 rgba(120, 120, 120, 0.5), .1rem -.1rem 0 rgba(242, 7, 7, 0.5); */
    border-radius: 16px;
    font-family: var(--fuenteTitulo);
}


/* .contenedorBotonDescripcion{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-family: var(--fuenteTitulo);
}

.botonDescripcion{
    width: 200px;
    height: 50px;
    font-family: var(--fuenteTitulo);
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 2px;
    margin-right: 200px;
    color: aliceblue;
    border-radius: 16px;
    border: 4px outset gray;
}

.botonDescripcion:hover{
    opacity: 0.85;
}

.botonDescripcion:focus{
    opacity: 0.75;
} */

/* .contenedorHeaderDescripcion{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-family: var(--fuenteContenido);
} */

.seccionHeroe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.textoDescripcion{
    padding: 20px;
    width: 300px;
    margin-right: 150px ;
    border-radius: 8px;
}

.textoDescripcion p{
    color: white;
    font-weight: 500;
    font-size: 18px;
    font-family: var(--fuenteContenido);
    text-align: center;
}


main{
    padding: .5rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedorInformacionCasino{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

    .cajaInformacionCasino {
        padding: 2rem;
        width: 90%;
        border-radius: 8px;
        box-shadow: -.4rem .4rem 10px rgba(120, 120, 120, 0.5);
        font-family: var(--fuenteContenido);
    }

        .encabezadoInformacionCasino{
            font-family: var(--fuenteTitulo);
        }

        .textoInformacionCasino{
            font-family: var(--fuenteContenido);
            
        }

        
.contenedorNovedades{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

    .encabezadoNovedades, .encabezadoActividades{
        margin: 2.5rem auto 1.5rem;
        text-align: center;
        font-size: 30px;
        font-family: var(--fuenteTitulo);
    }

        .novedad {
            width: 14rem;
            background-color: #fff;
            height: 20rem;
            border-radius: 8px;
            box-shadow: -.2rem .2rem 10px rgba(120, 120, 120, 0.5);
            display: flex;
            flex-direction: column;
        }

            .imagenNovedad {
                width: 100%;
                height: auto;
                border-radius: inherit;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            .nombreNovedad {
                width: 100%;
                border-radius: inherit;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                background-color: aliceblue;
                flex: 1 1 auto;
                text-align: center;
                font-family: var(--fuenteTitulo);
            }

.contenedorActividades {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorSlider {
    position: relative;
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
}

    .slider {
        display: flex;
        aspect-ratio: 16 / 9;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        box-shadow: 0 1.5rem 3rem -0.75rem hsla(0%, 0%, 0%, 0.25);
        border-radius: 0.5rem;
    }

        .slider::-webkit-scrollbar{
            display: none;
        }

        .slider > img {
            flex: 1 0 100%;
            scroll-snap-align: start;
            object-fit: cover;
        }

    .sliderNav {
        display: flex;
        column-gap: 1rem;
        position: absolute;
        bottom: 1.25rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }

        .sliderNav a {
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 50%;
            background-color: #fff;
            opacity: 0.75;
            transform: opacity ease 250ms;
        }

            .sliderNav a:hover {
                opacity: 1;
            }

footer{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.navFooter {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

    .logoFooter {
        display: flex;
        align-items: center;
        gap: 1rem;
        overflow: hidden;
        width: 10rem;
    }
    
    .logoFooter > img {
        max-width: 4rem;
        flex: 1 1 auto;
    }
    
    .logoFooter > a {
        flex: 1 1 auto;
        font-family: var(--fuenteTitulo);
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: none;
        color: #669;

    }

    .redes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: .2rem;
        width: 10rem;
    }
    .redes i{
        overflow: hidden;
        margin: .5rem;
        font-size: 2.5rem;
        }

        .redes .fa-square-twitter {
            color: rgb(65, 125, 255);
        }
        
        .redes .fa-square-facebook {
            color: rgb(0, 60, 188);
        }

        .redes .fa-square-instagram {
            color: rgb(202, 0, 84);
        }

        
        .redes i:hover, .logoFooter > img:hover{
            transform: scale(1.1);
            transition: all 0.2s ease;
            filter: brightness(1.1);
         }
            
            .footerBreak {
                border: 2px solid rgba(0, 0, 0, 0.25);
                border-radius: 2px;
        margin: 1.5rem 0;
    }

    .informacionContacto {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        gap: .9rem;
        font-family: var(--fuenteContenido);
        margin-bottom: 2rem;
    }

    .enlacesFooter {
        position: relative;
        left: 50%;
        translate: -50%;
        width: 60%;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
    }

    .enlacesFooter a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        font-family: var(--fuenteContenido);
    }

        .enlacesFooter a:hover {
            color: #669;
        }
    
    .copyright {
        font-family: var(--fuenteContenido);
    }
