<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="/css/casino.css">
    <!-- <link rel="stylesheet" href="/css/footer.css"> -->
    <!-- Tarjeta de credito -->
    <link rel="stylesheet" href="/css/card.css">
    <link rel="stylesheet" href="/css/header.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> -->

    <title>Royal Dice</title>
</head>
<body>
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">Logo</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <!-- <li class="nav__item">
                        <a href="#" class="nav__link">Home</a>
                    </li>

                    <li class="nav__item">
                        <a href="#" class="nav__link">About Us</a>
                    </li> -->

                    <li class="nav__item">
                        <a href="index.html" class="nav__link">Inicio</a>
                    </li>
                    <li class="nav__item">
                        <a href="bar.html" class="nav__link">Bar</a>
                    </li>
                    <li class="nav__item">
                        <a href="casino.html" class="nav__link">Casino</a>
                    </li>
                </ul>

                <!-- Close button -->
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>

            <div class="nav__actions">
                <!-- Search button -->
                <i class="ri-search-line nav__search" id="search-btn"></i>
                <!-- Login button -->
                <i class="ri-user-line nav__login" id="login-btn"></i>
                <!-- Toggle button -->
                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line"></i>
                </div>
            </div>
        </nav>
    </header>

    <!--==================== SEARCH ====================-->
    <div class="search" id="search">
        <form action="" class="search__form">
            <i class="ri-search-line search__icon"></i>
            <input type="search" placeholder="¿Qué estas buscando?" class="search__input">
        </form>

        <i class="ri-close-line search__close" id="search-close"></i>
    </div>

    <!--==================== LOGIN ====================-->
    <div class="login" id="login">
        <form action="" class="login__form">
            <h2 class="login__title">Log In</h2>
            <div class="login__group">
                <div>
                    <label for="email" class="login__label">Email</label>
                    <input type="email" placeholder="Write your email" id="email" class="login__input">
                </div>
                <div>
                    <label for="password" class="login__label">Password</label>
                    <input type="password" placeholder="Enter your password" id="password" class="login__input">
                </div>
            </div>
            <div>
                <p class="login__signup">
                    You do not have an account? <a href="#">Sign up</a>
                </p>
                <a href="#" class="login__forgot">
                    You forgot your password
                </a>
                <button type="submit" class="login__button">Log In</button>
            </div>
        </form>
        <i class="ri-close-line login__close" id="login-close"></i>
    </div>

    <!-- Banner -->
    <div class="banner">
        <!-- <img src="assets/img/casinoBg5.jpg" alt="image" class="main__bg"> -->
        <img src="assets/img/casinoBg2.jpg" alt="image" class="main__bg">
    </div>
    <!--==================== MAIN ====================-->
    <div id="observer">
        <main class="main" id="main">
            <!-- <img src="assets/img/bg-image.png" alt="image" class="main__bg"> -->
            <section class="aboutUs">
                <h2 class="aboutUs__subTitle">Sobre nosotros</h2>
                <div class="aboutUs__container">
                    <article class="aboutUs__card">
                        <h3 class="aboutUs__card__subtitle">¿Qué hacemos?</h3>
                        <p class="aboutUs__card__text">Ofrecemos servicios de entretenimiento para adultos como maquinas tragaperras y juegos de Black Jack</p>
                    </article>
                    <article class="aboutUs__card">
                        <h3 class="aboutUs__card__subtitle">¿Cómo lo hacemos?</h3>
                        <p class="aboutUs__card__text">Financiamos todas y cada una de las actividades que ofrecemos mediante los ingresos que obtenemos de los clientes que satisfacemos</p>
                    </article>
                    <article class="aboutUs__card">
                        <h3 class="aboutUs__card__subtitle">¿Por qué lo hacemos?</h3>
                        <p class="aboutUs__card__text">Detectamos la necesidad de actividades de oseo para adultos en esta zona y decidimos satisfacer esa necesidad</p>
                    </article>
                </div>
            </section>
        
            <!-- TARJETA DE CREDITO -->
            <h2 class="aboutUs__subTitle aboutUs__subTitle-card">Adquirir Menbresia Plus</h2>
            <!-- partial:index.partial.html -->
            <div class="wrapper" id="app">
                <div class="card-form">
                    <div class="card-list">
                        <div class="card-item" v-bind:class="{ '-active' : isCardFlipped }">
                            <div class="card-item__side -front">
                                <div class="card-item__focus" v-bind:class="{'-active' : focusElementStyle }"
                                    v-bind:style="focusElementStyle" ref="focusElement"></div>
                                <div class="card-item__cover">
                                    <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + 
                                currentCardBackground + '.jpeg'" class="card-item__bg">
                                </div>
        
                                <div class="card-item__wrapper">
                                    <div class="card-item__top">
                                        <img src="https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/chip.png"
                                            class="card-item__chip">
                                        <div class="card-item__type">
                                            <transition name="slide-fade-up">
                                                <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' 
                                    + getCardType + '.png'" v-if="getCardType" v-bind:key="getCardType" alt=""
                                                    class="card-item__typeImg">
                                            </transition>
                                        </div>
                                    </div>
                                    <label for="cardNumber" class="card-item__number" ref="cardNumber">
                                        <template v-if="getCardType === 'amex'">
                                            <span v-for="(n, $index) in amexCardMask" :key="$index">
                                                <transition name="slide-fade-up">
                                                    <div class="card-item__numberItem"
                                                        v-if="$index > 4 && $index < 14 && cardNumber.length > $index && n.trim() !== ''">
                                                        *</div>
                                                    <div class="card-item__numberItem" :class="{ '-active' : n.trim() === '' }"
                                                        :key="$index" v-else-if="cardNumber.length > $index">
                                                        {{cardNumber[$index]}}
                                                    </div>
                                                    <div class="card-item__numberItem" :class="{ '-active' : n.trim() === '' }"
                                                        v-else :key="$index + 1">{{n}}</div>
                                                </transition>
                                            </span>
                                        </template>
        
                                        <template v-else>
                                            <span v-for="(n, $index) in otherCardMask" :key="$index">
                                                <transition name="slide-fade-up">
                                                    <div class="card-item__numberItem"
                                                        v-if="$index > 4 && $index < 15 && cardNumber.length > $index && n.trim() !== ''">
                                                        *</div>
                                                    <div class="card-item__numberItem" :class="{ '-active' : n.trim() === '' }"
                                                        :key="$index" v-else-if="cardNumber.length > $index">
                                                        {{cardNumber[$index]}}
                                                    </div>
                                                    <div class="card-item__numberItem" :class="{ '-active' : n.trim() === '' }"
                                                        v-else :key="$index + 1">{{n}}</div>
                                                </transition>
                                            </span>
                                        </template>
                                    </label>
                                    <div class="card-item__content">
                                        <label for="cardName" class="card-item__info" ref="cardName">
                                            <div class="card-item__holder">Card Holder</div>
                                            <transition name="slide-fade-up">
                                                <div class="card-item__name" v-if="cardName.length" key="1">
                                                    <transition-group name="slide-fade-right">
                                                        <span class="card-item__nameItem"
                                                            v-for="(n, $index) in cardName.replace(/\s\s+/g, ' ')"
                                                            v-if="$index === $index" v-bind:key="$index + 1">{{n}}</span>
                                                    </transition-group>
                                                </div>
                                                <div class="card-item__name" v-else key="2">Full Name</div>
                                            </transition>
                                        </label>
                                        <div class="card-item__date" ref="cardDate">
                                            <label for="cardMonth" class="card-item__dateTitle">Expires</label>
                                            <label for="cardMonth" class="card-item__dateItem">
                                                <transition name="slide-fade-up">
                                                    <span v-if="cardMonth" v-bind:key="cardMonth">{{cardMonth}}</span>
                                                    <span v-else key="2">MM</span>
                                                </transition>
                                            </label>
                                            /
                                            <label for="cardYear" class="card-item__dateItem">
                                                <transition name="slide-fade-up">
                                                    <span v-if="cardYear"
                                                        v-bind:key="cardYear">{{String(cardYear).slice(2,4)}}</span>
                                                    <span v-else key="2">YY</span>
                                                </transition>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-item__side -back">
                                <div class="card-item__cover">
                                    <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + currentCardBackground + '.jpeg'"
                                        class="card-item__bg">
                                </div>
                                <div class="card-item__band"></div>
                                <div class="card-item__cvv">
                                    <div class="card-item__cvvTitle">CVV</div>
                                    <div class="card-item__cvvBand">
                                        <span v-for="(n, $index) in cardCvv" :key="$index">
                                            *
                                        </span>
        
                                    </div>
                                    <div class="card-item__type">
                                        <img v-bind:src="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + 
                                    getCardType + '.png'" v-if="getCardType" class="card-item__typeImg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-form__inner">
                        <div class="card-input">
                            <label for="cardNumber" class="card-input__label">Numero de tarjeta</label>
                            <input type="text" id="cardNumber" class="card-input__input" v-mask="generateCardNumberMask"
                                v-model="cardNumber" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardNumber"
                                autocomplete="off">
                        </div>
                        <div class="card-input">
                            <label for="cardName" class="card-input__label">Titular de la tarjeta</label>
                            <input type="text" id="cardName" class="card-input__input" v-model="cardName"
                                v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardName" autocomplete="off">
                        </div>
                        <div class="card-form__row">
                            <div class="card-form__col">
                                <div class="card-form__group">
                                    <label for="cardMonth" class="card-input__label">Fecha de expiracion</label>
                                    <select class="card-input__input -select" id="cardMonth" v-model="cardMonth"
                                        v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardDate">
                                        <option value="" disabled selected>Mes</option>
                                        <option v-bind:value="n < 10 ? '0' + n : n" v-for="n in 12"
                                            v-bind:disabled="n < minCardMonth" v-bind:key="n">
                                            {{n < 10 ? '0' + n : n}} </option>
                                    </select>
                                    <select class="card-input__input -select" id="cardYear" v-model="cardYear"
                                        v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardDate">
                                        <option value="" disabled selected>Año</option>
                                        <option v-bind:value="$index + minCardYear" v-for="(n, $index) in 12" v-bind:key="n">
                                            {{$index + minCardYear}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="card-form__col -cvv">
                                <div class="card-input">
                                    <label for="cardCvv" class="card-input__label">CVV</label>
                                    <input type="text" class="card-input__input" id="cardCvv" v-mask="'####'" maxlength="4"
                                        v-model="cardCvv" v-on:focus="flipCard(true)" v-on:blur="flipCard(false)"
                                        autocomplete="off">
                                </div>
                            </div>
                        </div>
        
                        <button class="card-form__button">
                            Enviar
                        </button>
                    </div>
                </div>
            </div>
            <!-- FIN DE TARJETA DE CREDITO -->
        </main>
        <footer>
            <div class="navFooter">
                <a class="logoFooter">
                    <img src="assets/icons/token.svg" alt="">
                    <p href="index.html">Royal Dice</p>
                </a>
                <div class="redes">
                    <a href="/"><img src="assets/icons/square-x-twitter.svg" class="fa-square-twitter"></img></a>
                    <a href="/"><img src="assets/icons/square-facebook.svg" class="fa-square-facebook"></img></a>
                    <a href="/"><img src="assets/icons/square-instagram.svg" class="fa-square-instagram"></img></a>
                </div>
            </div>
            <hr class="footerBreak">
            <div class="informacionContacto">
                <h5 class="encabezadoContactos">Información de contacto</h5>
                <p class="email">royaldice@gmail.com</p>
                <p class="numeroTelefono">(829) 485-4773</p>
            </div>
            <div class="enlacesFooter">
                <a href="/">Acerca de</a>
                <a href="/">Politica de privacidad</a>
            </div>
            <hr class="footerBreak">
            <p class="copyright">@ 2023 Casino Sin Nombre</p>
        </footer>
    </div>
    <!-- Site footer -->

    <!--=============== MAIN JS ===============-->
    <script src="/js/main.js"></script>
    <!-- <script src="/js/header.js"></script> -->

    <!-- Tarjeta de credito -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
    <script src='https://unpkg.com/vue-the-mask@0.11.1/dist/vue-the-mask.js'></script>
    <script src="/js/card.js"></script>
</body>
</html>